<div id="header" class="header">
    <a (click)="scrollTo('top')"><img id="main-logo" src="/assets/img/kevin.png" alt="logo-main"></a>
    <menu class="menu">
        <a (click)="scrollTo('infos-short')" class="menu-sections">{{ currentLanguage === 'english' ? 'About me' : 'Über mich' }}</a>
        <a (click)="scrollTo('hidden-container-skills')" class="menu-sections">{{ currentLanguage === 'english' ? 'Skills' : 'Fähigkeiten' }}</a>
        <a (click)="scrollTo('hidden-container-portfolio')" class="menu-sections">{{ currentLanguage === 'english' ? 'Portfolio' : 'Portfolio' }}</a>
        <img class="language" src="/assets/img/icons/language.svg" (click)="switchLanguage()">
    </menu>
    <img (click)="toggleMenu()" id="burger-menu" style="display: none;" src="/assets/img/burger-menu.svg"
        alt="burger-menu">
</div>
<div id="mobile-nav" style="display: none;">
    <img class="language mobile-nav-style" src="/assets/img/icons/language.svg" (click)="switchLanguage()">
    <a (click)="toggleMenu(); scrollTo('above-the-fold')"class="mobile-nav-style">{{ currentLanguage === 'english' ? 'About me' : 'Über mich' }}</a>
    <a (click)="toggleMenu(); scrollTo('hidden-container-skills')"  class="mobile-nav-style">{{ currentLanguage === 'english' ? 'Skills' : 'Fähigkeiten' }}</a>
    <a (click)="toggleMenu(); scrollTo('hidden-container-portfolio')" class="mobile-nav-style">Portfolio</a>
    <a (click)="toggleMenu(); scrollTo('hidden-container-contact')" class="mobile-nav-style">{{ currentLanguage === 'english' ? 'Contact' : 'Kontakt' }}</a>
</div>