#footer {
    border-top: solid 4px green;
    z-index: 2;
}

#container-footer {
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    margin-left: 120px;
    padding-bottom: 100px;
    padding-top: 100px;
}

#logo-impressum {
    display: flex;
    flex-direction: column;
}

#main-footer {
    height: 40px;
    margin-left: -16px;
}

#copyright {
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
}

#impressum {
    &:hover {
        text-decoration: underline #1CDAE6;
        text-underline-offset: 8px;
    }
}

@media (max-width: 900px) {
    #responsive-impressum {
        display: flex !important;
        margin-top: 15px;
    }

    #impressum {
        display: none;
    }

    #container-footer {
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    #logo-impressum {
        margin-bottom: 30px;
    }

    #copyright {
        margin-bottom: 30px;
    }

    .icon {
        padding-left: 20px;
        padding-right: 20px;
    }

    #imprint-link-button {
        display: none;
    }

}