<footer id="footer">
    <div id="container-footer">
        <div id="logo-impressum">
             <a href="#top"><img id="main-footer" src="/assets/img/kevin.png" alt="logo"></a>
            <a id="imprint-link-button" routerLink="/impressum">Impressum</a>
        </div>
        <span id="copyright">© Kevin Horlitz</span>
        <div id="icons-footer">
            <a target=" _blank" href="https://github.com/fervenmusic"><img class="icon" src="/assets/img/icon-github.png" alt="icon-github"></a>
            <a target=" _blank" href="mailto:horlitzkevin@web.de"><img class="icon" src="/assets/img/icon-mail.png" alt="icon-mail"></a>
            <a target=" _blank" href="https://www.linkedin.com/in/kevin-h-00791a278/"><img class="icon" src="/assets/img/icon-linkedin.png" alt="icon-linkedin"></a>
        </div>
        <a style="display: none;" id="responsive-impressum" routerLink="/impressum">Impressum</a>
    </div>
</footer>