<div id="above-the-fold">
    <div id="above-the-fold-container">
        <img id="background-layer-top" src="/assets/img/background-image.png" alt="">
        <img id="picture-main" src="/assets/img/avatar-main.png" alt="picture-main">
        <div id="presentation-container">
            <div class="presentation">
                <span id="iam-presentation">I am</span>
                <div class="order-presentation">
                    <h1 id="name-presentation">Kevin Horlitz</h1>
                    <span id="designation-presentation">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <a href="#contact-headline">
                <button id="button-presentation">Let's talk!</button>
            </a>
        </div>
    </div>
    <div id="infos-short">
        <div id="info-line">
            <img id="background-decliner" src="/assets/img/background-decliner.png" alt="">
            <a target=" _blank" href="https://github.com/fervenmusic">
                <img class="icon" src="/assets/img/icon-github.png" alt="github">
            </a>
            <a target=" _blank" href="mailto:horlitzkevin@web.de">
                <img class="icon" src="/assets/img/icon-mail.png" alt="email">
            </a>
            <a target=" _blank" href="https://www.linkedin.com/in/kevin-h-00791a278/"><img class="icon" src="/assets/img/icon-linkedin.png" alt="linkedin"></a>
            <span id="infos-short-mail">horlitzkevin@web.de</span>
        </div>
        <div id="scroll-down">Scroll down →</div>
    </div>
</div>
