<div class="container-projects-left">
    <div class="laptop-section-left">
        <img class="laptop-projects-left" src="/assets/img/projects/join.png" alt="laptop">
    </div>
    <div class="decription-projects-right">
        <h3>Join</h3>
        <h4>HTML | CSS | JavaScript</h4>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
        </span>
        <div class="buttons-section-projects">
            <a href="https://join.horlitzdeveloper.de/" target="_blank"><button class="button-live">Live</button></a>
            <a href="https://github.com/fervenmusic/join" target="_blank"><button class="button-github">Github</button></a>
        </div>
    </div>
</div>

<div class="container-projects-right">
    <div class="decription-projects-left">
        <h3>El Pollo Loco</h3>
        <h4>JavaScript | HTML | CSS</h4>
        <span>Mini mobile game created using the canvas interface. The character navigates through a virtual world,
            collecting coins and engaging in active actions to defeat a final boss.
        </span>
        <div class="buttons-section-projects">
            <a href="https://elpolloloco.horlitzdeveloper.de/" target="_blank"><button class="button-live">Live</button></a>
            <a href="https://github.com/fervenmusic/elpolloloco" target="_blank"><button class="button-github">Github</button></a>
        </div>
    </div>
    <div class="laptop-section-right">
        <img class="laptop-projects-right" src="/assets/img/projects/elpolloloco.png" alt="laptop">
    </div>
</div>

<div class="container-projects-left">
    <div class="laptop-section-left">
        <img class="laptop-projects-left" src="/assets/img/projects/pokedex.png" alt="laptop">
    </div>
    <div class="decription-projects-right">
        <h3>Pokedex</h3>
        <h4>Api | JavaScript | HTML | CSS</h4>
        <span>Based on the PokéAPI a simple library that provides and catalogues pokemon information. </span>
        <div class="buttons-section-projects">
            <a href="https://pokedex.horlitzdeveloper.de/" target="_blank"><button class="button-live">Live</button></a>
            <a href="https://github.com/fervenmusic/Pokedex" target="_blank"><button class="button-github">Github</button></a>
        </div>
    </div>
</div>

<img id="purple-background-projects" src="/assets/img/purple-background-projects.svg" alt="purple-background-projects">

<img id="green-background-projects" src="/assets/img/green-background-projects.svg" alt="green-background-projects">