<div class="portfolio-container">
    <div id="hidden-container-portfolio"></div>
    <div id="headline-portfolio">
        <div id="left-decliner-portfolio"></div>
        <h2>Portfolio</h2>
        <div id="right-decliner-portfolio"></div>
    </div>
    <span id="description-portfolio-mobile">{{ currentLanguage === 'english' ? 'Explore a selection of my work here - Interact with projects to see my skills in action.' : '
        Erkunde hier eine Auswahl meiner Arbeiten - Interagiere mit den Projekten, um meine Fähigkeiten in Aktion zu sehen.'}}</span>
</div>