<div id="my-skills" class="my-skills-container">
    <div id="hidden-container-skills"></div>
    <img id="my-skills-shadow" src="/assets/img/green-background-shadow.svg" alt="">
    <button style="display: none;" id="mobile-button-my-skills">Get in touch</button>
    <div class="programm-list">
        <img class="icons-skills" src="/assets/img/skills/angular.svg" alt="angular">
        <img class="icons-skills" src="/assets/img/skills/typescript.svg" alt="typescript">
        <img class="icons-skills" src="/assets/img/skills/javascript.svg" alt="javascript">
        <img class="icons-skills" src="/assets/img/skills/html.svg" alt="html5">
        <img class="icons-skills" src="/assets/img/skills/firebase.svg" alt="firebase">
        <img class="icons-skills" src="/assets/img/skills/git.svg" alt="git">
        <img class="icons-skills" src="/assets/img/skills/css.svg" alt="css">
        <img class="icons-skills" src="/assets/img/skills/rest-api.svg" alt="rest-api">
        <img class="icons-skills" src="/assets/img/skills/scrum.svg" alt="scrum">
        <img class="icons-skills" src="/assets/img/skills/material-design.svg" alt="material-design">
    </div>
    <div class="my-skills-section">
        <div id="my-skills-with-decliner">
            <h2 id="underline-my-skills">My skills</h2>
            <div id="purple-decliner"></div>
        </div>
        <div id="my-skills-description">
            <span id="my-skills-text">I have gained experience in building projects with various front end technologies
                and
                concepts.</span>
            <a href="#contact-headline">
                <button id="button-my-skills">Get in touch</button>
            </a>
        </div>
    </div>
</div>